.reset-password-form-container {
    inline-size: min(425px, 100%);
    margin-inline: auto;
}

.reset-password-form-container__logo { margin-bottom: var(--mb-2); }

.reset-password-form-container__logo:hover { color: var(--color-black); }

.reset-password-form-wrapper {
    background-color: inherit;
    box-shadow: 0 0 2rem rgba(0, 0, 0, .2);
    padding: 2rem 1rem 3rem;
    border-radius: .25rem;
    position: relative;
}

.reset-password-form-heading {
    color: var(--color-black);
    font-size: 1.35rem;
    font-weight: var(--fw-bold);
    inline-size: fit-content;
    margin-inline: auto;
    text-align: center;
    margin-bottom: var(--mb-2);
}

.reset-password-form.error-state .reset-password-form-input { outline-color: var(--color-warning); }

.reset-password-form.error-state .reset-password-form-error-text {
    display: block;
    margin-bottom: var(--mb-1);
}

.reset-password-form.error-state .reset-password-form-submit-btn { margin-top: 0; }

.reset-password-form-email-label {
    color: var(--color-black);
    font-size: .875rem;
    font-weight: var(--fw-medium);
    margin-bottom: var(--mb-0-5);
}

.reset-password-form-input {
    outline: 2px solid var(--color-gray-900);
    padding: 1rem;
    color: var(--color-black);
}

.reset-password-form-error-text {
    color: var(--color-warning);
    font-size: .875rem;
    font-weight: var(--fw-bold);
    font-style: italic;
    margin-top: var(--mb-0-5);
    display: none;
}

.reset-password-form-submit-btn {
    inline-size: 100%;
    padding-block: 1rem;
    margin-top: var(--mb-1);
}

.reset-password-form-close-btn {
    position: absolute;
    inset: 0 0 auto auto;
    background-color: var(--color-black);
    padding: .25rem;
    border-radius: 0 0 0 .25rem;
}

.reset-password-form-close-btn i {
    color: var(--color-white);
    font-weight: var(--fw-bold);
}